/*定位*/
.location {
  padding-top: .24rem;
  background: #00a7ff;
  .sub {
    height: .62rem;
    text-indent: 1em;
    span {
      display: inline-block;
      color: #fff;
      font-size: .35rem;
    }
    .dingwei {
    }
    .info {
      font-weight: bold;
    }

  }
}