/*
Error: Invalid GBK character "\xE6"
        on line 20 of index.scss

15:     background: url("./img/topBg.webp");
16:     background-size: cover;
17:     .shopIcon {
18:       position: absolute;
19: 
20:       /*水平居中*\/
21:       left: 0;
22:       right: 0;
23:       margin: auto;
24: 
25:       bottom: -0.3rem;

Backtrace:
index.scss:20
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:1087:in `block in find_encoding_error'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:1086:in `each'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:1086:in `each_with_index'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:1086:in `find_encoding_error'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/util.rb:814:in `check_sass_encoding'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:444:in `check_encoding!'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:400:in `_to_tree'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `each'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.7.2/bin/scss:13:in `<top (required)>'
C:/RailsInstaller/Ruby2.3.3/bin/scss:22:in `load'
C:/RailsInstaller/Ruby2.3.3/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 20 of index.scss\A \A 15:     background: url(\"./img/topBg.webp\");\A 16:     background-size: cover;\A 17:     .shopIcon {\A 18:       position: absolute;\A 19: \A 20:       /*水平居中*/\A 21:       left: 0;\A 22:       right: 0;\A 23:       margin: auto;\A 24: \A 25:       bottom: -0.3rem;"; }
