/*
Error: Invalid GBK character "\xE5"
        on line 5 of index.scss

1: .categoryList{
2:   height: 3000px;
3: }
4: 
5: /*头部吸顶盒*\/
6: .header{
7:   /**
8:      sticky 没有被纳入到标准内
9:      可以在移动端使用
10:      top: 0

Backtrace:
index.scss:5
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:1041:in `rescue in block in find_encoding_error'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:1038:in `block in find_encoding_error'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `each'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `each_with_index'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `find_encoding_error'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/util.rb:765:in `check_sass_encoding'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/engine.rb:444:in `check_encoding!'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/engine.rb:400:in `_to_tree'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/plugin.rb:82:in `update_stylesheets'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:51:in `process_result'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
F:/develope/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.6.0/bin/scss:13:in `<top (required)>'
F:/develope/Ruby24-x64/bin/scss:23:in `load'
F:/develope/Ruby24-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 5 of index.scss\A \A 1: .categoryList{\A 2:   height: 3000px;\A 3: }\A 4: \A 5: /*头部吸顶盒*/\A 6: .header{\A 7:   /**\A 8:      sticky 没有被纳入到标准内\A 9:      可以在移动端使用\A 10:      top: 0"; }
