.head{
  position: relative;
  background: #00a8ff;
  text-align: center;
  color: #fff;
  font-weight: bold;
  .title{
    height: 1.02rem;
    line-height: 1.02rem;
    font-size: .35rem;
    font-weight: 700;
  }


}