
/*底部导航*/
.index_foot_nav{
  width:100%;
  height: 1.0rem;
  position: fixed;
  bottom: 0;
  z-index: 999;
  -webkit-box-shadow: 0px -1px 2px  rgba(0,0,0,.1);
  -moz-box-shadow: 0px -1px 2px   rgba(0,0,0,.1);
  box-shadow: 0px -1px 2px   rgba(0,0,0,.1);
  background: #ffffff;
  display: flex;

  a{
    flex: 1;
    display: inherit;
    flex-direction: column; /*垂直方向排列，默认是水平*/
    align-items: center;/*垂直方向排列居中*/
    color: #333;
    font-size: .12rem;
    text-align: center; /*居中图标和文字*/
    i{
      width:0.5rem;
      height: 0.5rem;
      font-size: .4rem;
    }
  }
  a.active{
    color: #0089dc;
  }
}